/**
 * Normalize.css
 */

:host {
  --font: "Helvetica Neue", sans-serif;
  --theme-color: #11767E;
  --text-color: white;
  --btn-background-color: #11767E;
  --btn-color: white;
}

h1 {
  font-family: var(--font);
  font-size: 2em;
  margin: 0.67em 0;
}

textarea {
  font-family: var(--font);
  overflow: auto;
}

p {
  font-family: var(--font);
  font-size: 16px;
}

/**********/

.gt-sentimeter {
  display: flex;
  position: fixed;
  z-index: 999;
  bottom: 10px;
  left: 20px;
  transition: all .5s;
  background-color: var(--theme-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  text-align: center;
  margin: 0 auto;
}

.gt-sentimeter-rating {
  width: 375px;
  height: 50px;
}

.gt-sentimeter-more {
  width: 670px;
  height: 50px;
}

.pointer {
  cursor: pointer;
}

.gt-sentimeter-wrapper {
  display: flex;
  align-items: center;
}

.gt-sentimeter-toggle {
  width: 200px;
}

path {
  fill: var(--text-color);
}

.gt-sentimeter-text {
  margin: 0 0 0 10px;
  line-height: 2.3;
  white-space: nowrap;
}

.gt-sentimeter-thumb {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  transition: all .5s;
  line-height: 3.8;
  margin: 0 10px;
}

.gt-sentimeter-thumb > svg {
  margin-top: 8px;
}

.gt-rating-close {
  cursor: pointer;
  height: 20px;
}

.btn {
  height: 40px;
  border-radius: 3px;
  padding: 2px 20px;
  font-size: 16px;
  font-family: var(--font);
}

.btn-primary {
  background-color: var(--btn-background-color);
  border-color: transparent;
  color: var(--text-color);
  -webkit-box-shadow: 2px 5px 8px -3px rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 2px 5px 8px -3px rgba(0, 0, 0, 0.28);
  box-shadow: 2px 5px 8px -3px rgba(0, 0, 0, 0.28);

}

.btn-transparent {
  color: var(--text-color);
  background-color: transparent;
  border-color: transparent;
}

.btn-block {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 40px;
  margin-top: 20px;
  padding-bottom: 30px;
}

.thank-you-container {
  text-align: center;
  padding: 0 30px;
}

.thank-you-container > h1 {
  margin-bottom: 0;
}

/**
 * Modal
 */

.modal {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--theme-color);
  color: var(--text-color);
  padding: 1rem 30px;
  border-radius: 0.5rem;
}

.textarea {
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.input {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  color: white;
}

.close-button:hover {
  background-color: darkgray;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
